h1{text-align: center;font-family: lato black; font-size:54; padding-top: 30px;margin-bottom:5px;
  }
#header{width: 100%;  text-align:center;}
button{background: none; cursor:pointer; border:0px;
    padding-bottom: 5px; margin: 25px; width:9%; height:auto;
  text-align: center; color: black; font-size: 20; font-family:lato black; text-decoration: underline;}

  head:not([data-scroll='0']) {
    position: fixed;
    top: 0;
    background-color:white}

h2{font-family:lato black; font-weight: bold;padding-top: 5%; margin-left:5%}
h3{color:white;font-family:courier;font-weight:bold;margin-left:5%; font-size: 18;padding-top: 7px;padding-bottom:5px}
th{font-family:courier; font-weight: bold}
button:hover{border:3px solid #3D5F8F; color:#3D5F8F; transition:0.8s}

#imagelayout{width: 45%; padding-left: 3%; padding-top:20px; float: left;margin:5px; padding-bottom: 25px}

#table{width:100%; padding-left:3%;}

#foodbox{
  padding: 1%;
  box-shadow: 4px 5px 25px 8px #F2F2F2;
  border-radius: 10px;
  margin:8px;
  height:auto;
  text-align:center;
}
@media (max-width:700px){
  td, th{
    outline:2px solid white;
    font-size:11;
  }
  button{font-size:100%;
  padding:3px;
  margin: 2%;
  width: 15%}
}

@media (max-width:400px){
  h1{font-size:40;
  padding:3px;}
  h2{font-size:22;text-align:center}
  h3{font-size:13;text-align:center}
}

#foodbox:hover{
  box-shadow: 4px 5px 15px 4px lightgrey;
  border:2px line black;
}
img::after{content:"Rating:"}

.Days{font-size: 19;letter-spacing: 6px;}
}
