---
---
$font: courier;
$size: 16;
$textcolor: #3D5F8F;
$textboxcolor: lightblue;

div{margin:10px}

%message{font-family: $font;
font-size: $size;
font-weight: bold;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

ul > li{
  line-height: 25px;
  font-family: $font;
  font-size: $size;
  font-weight:bold;
  .roman {
   list-style-type: lower-roman;
  }
  .square {
   list-style-type: square;
   margin-left: -2em;
  }
}

ol{
  font-family: $font;
  font-weight: bold;
  color: $textcolor;
}

#completed{
  float:left;
  background-color: $textboxcolor;
  border-radius:10px;
  border: 2px dashed #3D5F8F;
}
